<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Blogs</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/style1.css}" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

<div th:replace="fragments/menu :: Fmenu"></div>


<div class="panel panel-default" th:each="post:${posts}">
    <div class="panel-heading"><a href="#"> <span th:text="${post.title}"></span></div>
    <div class="panel-body"><span th:text="${post.description}"></div>
    <div class="panel-footer">
        <ul>
            <li class="published-date"><a th:href="@{'/post/' + ${post.id}}">Read More</a></li>
        </ul>
    </div>
</div>


</body>
</html>