<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Theme Simply Me</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" th:href="@{/css/design.css}" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>


<div th:replace="fragments/menu :: Fmenu"></div>


<!-- end of menu -->


<div class="bg-3">
    <table class="table">
        <tr th:each="book : ${Books}">
            <div class="container-fluid  text-center mr-5 mt-2 ml-5 mb-2"
                 style="width: 25rem; display: inline-block">

                <img class="card-img-top" th:src="${book.ImagePath}" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title"><span th:text="${book.name}"> </span></h4>
                    <p class="card-text"><span th:text="${book.description}"> </span></p>
                    <a th:href="@{'/cart/add/' + ${book.id}}" class="btn btn-primary">Buy Free</a>
                    <a th:href="${book.pdfPath}" target="_blank" class="btn btn-primary stretched-link">Read Now</a>
                </div>

            </div>
        </tr>
    </table>

</div>


<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        var scrollpos = localStorage.getItem('scrollpos');
        if (scrollpos) window.scrollTo(0, scrollpos);
    });

    window.onbeforeunload = function (e) {
        localStorage.setItem('scrollpos', window.scrollY);
    };
</script>

</body>
</html>