<!--!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
     >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Book Store Template, Free CSS Template, CSS Website Layout</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>

<body>
<!--  www.templatemo.com -->
<div id="templatemo_container">


    <div th:replace="fragments/menu :: Fmenu"></div>


    <div id="templatemo_header">
        <div id="templatemo_special_offers">
            <p>
                <span>FREE BOOKS</span>
            </p>
            <a href="index.html" style="margin-left: 50px;">Read more...</a>
        </div>


        <div id="templatemo_new_books">
            <ul>
                <li>sunnah1</li>
                <li>sunnah2</li>
                <li>sunnah3</li>
            </ul>
            <a href="index.html" style="margin-left: 50px;">Read more...</a>
        </div>
    </div> <!-- end of header -->


    <!-- end of header -->

    <div id="templatemo_content">

        <div id="templatemo_content_left">
            <div class="templatemo_content_left_section">
                <h1>Categories</h1>
                <ul>
                    <li><a href="index.html">Islam CAT1</a></li>
                    <li><a href="index.html">Islam CAT2</a></li>
                    <li><a href="index.html">Islam CAT3</a></li>

                </ul>
            </div>


        </div> <!-- end of content left -->

        <div id="templatemo_content_right">
            <div class="templatemo_product_box">
                <h1>CAT1 <span>(by Author)</span></h1>
                <img src="images/templatemo_image_01.jpg" alt="image"/>
                <div class="product_info">
                    <p>Description...</p>
                    <h3>FREE</h3>
                    <div class="buy_now_button"><a href="index.html">More Books</a></div>
                    <div class="detail_button"><a href="index.html">Detail</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>

            <div class="cleaner_with_width">&nbsp;</div>

            <div class="templatemo_product_box">
                <h1>CAT2 <span>(by Author)</span></h1>
                <img src="images/templatemo_image_02.jpg" alt="image"/>
                <div class="product_info">
                    <p>Description...</p>
                    <h3>FREE</h3>
                    <div class="buy_now_button"><a href="index.html">More Books</a></div>
                    <div class="detail_button"><a href="index.html">Detail</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>


            <!-- end of content right -->

            <div class="cleaner_with_height">&nbsp;</div>
        </div> <!-- end of content -->

        <div id="templatemo_footer_home">

            <a href="index.html">Home</a> | <a href="index.html">Search</a> | <a href="index.html">Books</a> | <a
                href="#">FAQs</a> | <a href="#">Contact Us</a><br/>
            Copyright © 2020 <a href="#"><strong>Abdelrahman Elayashy</strong></a>
            <!-- Credit: www.templatemo.com -->    </div>
        <!-- end of footer -->
        <!--  Free CSS Template www.templatemo.com -->
    </div>
    <!-- end of container -->
    <!-- templatemo 086 book store -->
    <!--
    Book Store Template
    http://www.templatemo.com/preview/templatemo_086_book_store
    -->
    </body>
    </html>